@charset "UTF-8";

@font-face {
  font-family: 'Fellix';
  src: local("Fellix Bold"), local("Fellix-Bold"), url(../assets/fonts/Fellix-Bold.woff2) format("woff2"), url(../assets/fonts/Fellix-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: 'Fellix';
  src: local("Fellix Regular"), local("Fellix-Regular"), url(../assets/fonts/Fellix-Regular.woff2) format("woff2"), url(../assets/fonts/Fellix-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

* {
  margin: 0;
  padding: 0;
  font-family: Fellix;
}

h2 {
  margin: 0 0 1rem 0;
}

p,
a {
  font-size: 1.25rem;
}

header {
  display: flex;
  background-color: #2add5d;
  color: #03357c;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  cursor: default;
  user-select: none;
}

header div {
  display: flex;
  align-items: center;
  width: 87.5%;
  margin: 0 auto;
  padding-left: 1rem;
}

header img {
  padding: 0.5rem;
}

header p {
  display: inline;
}

a {
  color: #03357c;
  text-decoration: none;
  font-weight: bold;
  padding: 0.1rem;
}

a:hover {
  text-decoration: underline;
}

main {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
}

.content_width {
  width: 75%;
  margin: 0 auto;
}

/* Voortekst */
.pretext {
  background-color: #ffcc00;
  color: #69197c;
  margin: 3rem 0;
  padding: 3rem 0;
}

/* Afbeelding */
.image_content {
  width: 60%;
  min-height: 25rem;
  background-image: url('../assets/img/elton.jpg');
  background-size: cover;
  background-position: center;
}

/* Uitleg blokkensysteem */
.blockSystem {
  align-self: flex-end;
  margin: -3rem 0 2rem;
  width: 50%;
  padding-right: 12.5%;
  background-color: #03357c;
  color: #ffcc00;
}

.blockSystem_content {
  padding: 2rem 0 3rem 3rem;
}

/* Uitleg versnellen */
.accelerate {
  align-self: flex-start;
  margin: 0 0 5rem;
  width: 50%;
  padding-left: 12.5%;
  background-color: #f9aecd;
  color: #014c35;
}

.accelerate_content {
  padding: 2rem 3rem 3rem 0;
}

/* Rooster */
.schedule,
.blockSchedule {
  margin: 3rem 0;
  text-align: center;
}

.schedule img,
.blockSchedule img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

/* Footer */
footer {
  background-color: #ffcc00;
  color: #69197c;
  padding: 2rem 0;
  margin-top: 5rem;
  text-align: end;
}

footer p {
  margin-right: 2rem;
}